<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% farm.name %></title>
  </head>
  <body>
    <form action="/products/<%=farm._id%>/delete?_method=DELETE" method="post">
      <p></p>
      <button>Delete</button>
      <ul>
        <li>
          <% for (product of products){ %>
          <h1><%= product.name %></h1>
          <ul>
            <li>Price: $ <%= product.price %></li>
            <li>
              Category:
              <a href="/products/?category=<%= product.category %>"
                ><%= product.category %></a
              >
            </li>
          </ul>
          <% }%>
        </li>
      </ul>
    </form>

    <a href="/products/<%=product.id%>/edit">Edit Product</a>
    <a href="/farms">All Farms</a>
    <p></p>
    <a href="/farms/<%=farm._id%>/products/new">Create New Product</a>
  </body>
</html>
